services:
  coffeestudiofrontend:
    image: coffeestudiofrontend
    build:
      context: frontend
      dockerfile: ./Dockerfile
    environment:
      NODE_ENV: production
    ports:
      - 3000:3000
